.collaboratorsWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 0px;
}
.collaboratorsCardsWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
@media (max-width: 768px){
    .collaboratorsWrapper{
        margin-top: 40px;
    }
}